# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Toggle css-from-html'
      'command': 'css-from-html:start'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'CSS from HTML'
      'submenu': [
        {
          'label': 'Start'
          'command': 'css-from-html:start'
        }
      ]
    ]
  }
]
